<style shim-shadowdom>
    .daypaper {
      height: 100%;
      max-width: 15%;
      width: 15%;
    }

    core-header-panel {
      float: left;
      width: 360px;
      height: 400px;
    }

    core-header-panel[mode=cover]::shadow #mainContainer {
      left: 70px;
    }

    .core-header-panel {
      height: 800px;
    }

    .core-header {
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      padding: 0 10px;
      background-color: #F2F1F1;
      color: #000;
      transition: height 0.2s;
    }

    .core-header.tall {
      height: 180px;
    }

    .core-header.medium-tall {
      height: 120px;
    }
    .content {
      height: 2000px;
      background: linear-gradient(#DEDEDE, lightgrey);
    }
</style>

{{#each model.timeline as |day|}}
  <paper-shadow class="card day-paper paper-shadow-bottom-z-4" z="3">
      <core-header-panel mode="waterfall-tall" class="paper-shadow-bottom-z-1 core-header-panel" tallClass="medium-tall">
        <div class="core-header">{{day.date}}</div>
        <div class="content">
          {{#each day.events as |event|}}
              <li>{{event.title}}</li>
          {{/each}}
        </div>
      </core-header-panel>
  </paper-shadow>
  <paper-shadow class="card day-paper paper-shadow-bottom-z-4" z="3">
      <core-header-panel mode="waterfall-tall" class="paper-shadow-bottom-z-1" tallClass="medium-tall">
        <div class="core-header">{{day.date}}</div>
        <div class="content"></div>
      </core-header-panel>
  </paper-shadow>
{{/each}}



{{yield}}
