<style>
      .size-position {
        left: 10px;
        top: 130px;
        padding: 0;
      }
      #scroller {
        padding: 0;
      }
</style>


<paper-dialog heading="{{currentLocation.title}}" id="mapDialogWindow" class="size-position">
        <div id="mapDialogDiv" style="width: 25vw; height: 40vh;">
        </div>
</paper-dialog>
