<style>
</style>


<paper-shadow class="bigcard card day-paper paper-shadow-bottom-z-4 google" style="
  left: 0; margin: 0 5% 0 5%; padding: 20px; min-height: 300px; text-align: center" z="3">
  <core-label>
    <core-image  src="/assets/icons/ic_add_location_black_48px.svg" class="icons"></core-image>
  </core-label>
    <core-field>
      <core-icon-button icon="" style="opacity: 0; width: 70px;"></core-icon-button>
      {{input value=search placeholder="Search Locations" id="searchLocationsGoogle"}}
      <core-tooltip label='Google Autocomplete is active' position="top">
        <paper-button class="hover" style="height: 40px; width: 40px; margin-right: 0px; top: -3px; padding-top: -1%">
           <div class="iconSearchGoogle" ></div>
        </paper-button>
      </core-tooltip>
    </core-field>
{{create-location model.locations}}


  <core-label>
    <core-image  src="/assets/icons/ic_bookmark_black_48px.svg" class="icons"></core-image>
  </core-label>

{{create-Event model.events name selLati selLongi}}
  {{outlet}}
</paper-shadow>
