<style>
  .bigcard {
    position: absolute;
    top: 80px;
    width: 90vw;
    height: 80%;
    overflow-y: scroll;
  }
  .bigcard, .bigcard core-field, .bigcard core-field input {
    text-align: center;
  }
  .bigcard .icons {
    width: 25%;
  }
  .bigcard core-field {
      border: 1px solid #ddd;
      margin: auto;
      margin-bottom: 5px;
      height: 40px;
      width: 50%;
  }
  .paper-location {
      height: 40px;
    }
  .bigcard paper-item {
    margin: auto;
    text-align: center;
  }
  .bigcard core-field input {
      width: 100%;
  }
  .bigcard paper-item p {
    width: 100%;
  }

  div.iconSearchGoogle {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-image: url("/assets/icons/ic_search_google.png");
    background-size: 32px 32px;
    position: absolute;
    top: 4px;
    right: 4px;
    margin-right: 14px;
  }
  .pac-container {margin-top: 15px;}

  paper-button.hover:hover {
    background: #eee;
  }
  paper-radio-group{
    text-align: center;
    margin: auto;
  ##  overflow: scroll;
  }
  paper-radio-group.blue paper-radio-button::shadow #ink[checked] {
    color: #79859B;
  }

  paper-radio-group.blue paper-radio-button::shadow #onRadio {
    background-color: #79859B;
  }
  paper-radio-group.blue paper-radio-button[checked]::shadow #offRadio {
    border-color: #79859B;
  }

  paper-radio-button {
    display: inline;
  }
</style>


<paper-shadow class="bigcard card day-paper paper-shadow-bottom-z-4 google" style="
  left: 0; margin: 0 5% 0 5%; padding: 20px; min-height: 300px; text-align: center" z="3">
  <core-label>
    <core-image  src="/assets/icons/ic_add_location_black_48px.svg" class="icons"></core-image>
  </core-label>
    <core-field>
      <core-icon-button icon="" style="opacity: 0; width: 70px;"></core-icon-button>
      {{input value=search placeholder="Search Locations" id="searchLocationsGoogle"}}
      <core-tooltip label='Activate Google autocomplete' position="top">
        <paper-button class="hover" style="height: 40px; width: 40px; margin-right: 0px; top: -3px; padding-top: -1%">
           <div class="iconSearchGoogle" ></div>
        </paper-button>
      </core-tooltip>
    </core-field>
{{create-location model.locations}}


  <core-label>
    <core-image  src="/assets/icons/ic_bookmark_black_48px.svg" class="icons"></core-image>
  </core-label>

{{create-Event model.events name selLati selLongi}}
  {{outlet}}
</paper-shadow>
