  <style shim-shadowdom>

    body {
      font-family: sans-serif;
    }

    core-toolbar {
      background-color: #BFBFBF;
      position: relative;
    }
    core-toolbar paper-progress::shadow #activeProgress {
      background-color: #F2F1F1;
    }
    core-toolbar paper-progress::shadow #progressContainer {
      background-color: #DEDEDE;
    }

    .daytime {
      position: absolute;
      left: -8px;
      bottom: -1px;
      width: 100%;
    }
  </style>

<paper-shadow>
  <core-toolbar>
    <core-icon-button icon="menu" on-tap="{{menuAction}}"></core-icon-button>
    <div flex>Title</div>
    <core-icon-button icon="more-vert" on-tap="{{moreAction}}"></core-icon-button>
    <paper-progress value="{{currentDayTime}}" class="daytime"></paper-progress>
  </core-toolbar>

</paper-shadow>

<h2 id="title">Welcome to Ember</h2>


<paper-button>flat button</paper-button>
<paper-button raised>raised button</paper-button>
<paper-button noink>No ripple effect</paper-button>
