<paper-shadow class="card day-paper paper-shadow-bottom-z-4" style="position: absolute; top: 50%;
  left: 50%; margin: -10% 0 0 -10%; padding: 20px; width: 20%; height: 25%; min-height: 300px; text-align: center" z="3">
  <core-label>
    <h1>Login</h1>

  </core-label>
  <paper-input-decorator label="Name" style="text-align: center">
      {{input value=username}}
  </paper-input-decorator>

  <paper-input-decorator label="Password">
    {{input type='password' value=password}}
  </paper-input-decorator>
  <paper-button raised for {{action 'login' username password}} style="margin-top:20px">Login</paper-button>
  {{outlet}}
</paper-shadow>
