<div style="height: 100%;">
  {{#day-overview model=model}}
  {{/day-overview}}
</div>

<h1>{{model.name}}</h1>
<h1>Days</h1>
{{#each model.timeline as |day|}}
    <h2>Date: {{day.date}}</h2>
    {{#each day.events as |event|}}
        <li>{{event.title}}</li>
    {{/each}}
{{/each}}

{{outlet}}
